<h2>Chess App by Andy Strube</h2>
<h3>You need to be signed in to use this app</h3>

<%= link_to 'sign in', new_user_session_path %>
<br />
<%= link_to 'sign up', new_user_registration_path%>
<br />
<%= link_to 'sign out', destroy_user_session_path, method: :delete %>
<br />
<% if current_user %>
  <%= link_to "Start a new game", new_game_path %>
  <br />
  <%= link_to 'Go to games lobby', games_path %>
<% end %>
